.container {
    width: 970px;
}

input[name=telefone] {
    padding-left: 47px;
}

.telefone_area {
    color: #bbbbbb;
    left: 27px;
    position: absolute;
    top: 7px;
}

.form-group {
	margin-bottom: 10px;
}

.form-group .required {
	color: #FF0000;
}

.help-block {
	font-size: 12px;
	margin-bottom: 0px;
}